.Header {
  height: 55px;
  border-bottom: 1px solid #1f455f;
}

.Header i {
  font-size: 25px;
  color: #b2f8fb;
  text-shadow: 0 2px 15px #2158fc;
  margin-right: 10px;
  margin-top: 13px;
  margin-right: 20px;
}

.Header form {
  text-align: center;
}

.logo {
  font-size: 30px;
  color: #f1f1f1;
  font-family: "Teko", sans-serif;
  animation: flicker 3s infinite alternate;
  margin: 8px 2px 5px 15px;
  width: 150px;
}

#logoHomeButton {
  text-decoration: none;
}

.Header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: #f1f1f1;
  background-color: #041014;
  height: 65px;
  box-shadow: 0 0 20px #6a97b8;
}
.Header ::placeholder {
  font-family: "Teko", sans-serif;
  font-size: 15px;
  color: #fffefe;
}
.searchBar {
  width: 60%;
  border-radius: 30px;
  margin-top: 15px;
  padding: 5px 15px;
  background-color: rgb(63, 63, 63);
  border: 1px solid #ffffd1;
  box-shadow: 0 0 10px #ffff33;
  color: #f1f1f1;
}
.searchBar:hover {
  box-shadow: 0 0 10px #ffff33, 0 0 10px #ffff33;
}

.searchResults {
  justify-content: center;
}
/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 0;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: #041015; /* Black fallback color */
  background-color: #041015; /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #f1f1f1;
  text-shadow: 0 0 20px #ffff33;

  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
  text-shadow: 0 0 20px #d25486;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (min-width: 600px) {
  .Header{
    display:flex;
    align-items: center;
    justify-content: space-between;
  }
 .burgerMenu{
  display: none;
 }
 
 .logo{
  font-size: 45px;
  width: 300px;
 }


 .desktopMenu a {
  font-size:30px;
  color: #f1f1f1;
  text-decoration: none;
  margin: 5px 10px 0px 0px;
 }

 .desktopMenu .fa-solid.fa-house{
  font-size: 15px;
  margin: 0px 5px 10px 5px;
 }
 .desktopMenu .fa-solid.fa-user{
  font-size: 15px;
  margin: 0px 5px 10px 5px;
 }
 .desktopMenu .fa-solid.fa-bookmark{
  font-size: 15px;
  margin: 0px 5px 10px 5px;
 }
 .desktopMenu .fa-solid.fa-magnifying-glass{
  font-size: 15px;
  margin: 0px 5px 10px 5px;
 }

 .searchBar{
  margin-top: 0px;
  width: 300px;
 }
}
