.HomePage{
  margin: 15px;;
}

.HomePage .categoryContainer img {
  height: 200px;
}

#creatorTitle {
  margin: 80px 0px 0px 15px;
  height: 35px;
  font-size: 45px;
}

.HomePage .categories {
  color: #f1f1f1;
  font-family: "Teko", sans-serif;
  font-weight: 300;
  font-size: 50px;
  margin-top: 70px;
  text-shadow: 1px 1px 1px rgb(155, 155, 155);
}

.HomePage .categoryContainer {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  height: 300px;
}

.HomePage h1 {
  color: #f1f1f1;
  font-family: "Teko", sans-serif;
  font-weight: 300;
  font-size: 50px;
  margin: 10px 10px;
}

.HomePage button {
  background: none;
}

.HomePage p {
  color: #f1f1f1;
  font-family: "Teko", sans-serif;
}

/* scrollbar styling */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  width: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
