.HomePage .categoryContainer img {
  height: 200px;
}

.HomePage .categories {
  color: #f1f1f1;
  font-family: "Teko", sans-serif;
  font-weight: 300;
  font-size: 50px;
}

.HomePage .categoryContainer {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  height: 300px;
}

.HomePage h1 {
  color: #f1f1f1;
  font-family: "Teko", sans-serif;
  font-weight: 300;
  font-size: 50px;
}

.HomePage button {
  background: none;
}

.HomePage p {
  color: #f1f1f1;
  font-family: "Teko", sans-serif;
}
