.HomePage .categoryContainer img {
  height: 200px;
}

.HomePage .categories {
  color: #f1f1f1;
  font-family: "Teko", sans-serif;
  font-weight: 300;
  font-size: 50px;
  margin-top: 70px;
  text-shadow: 1px 1px 1px rgb(155, 155, 155);
}
.HomePage .categoryContainer {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.HomePage h1 {
  color: #f1f1f1;
  font-family: "Teko", sans-serif;
  font-weight: 300;
  font-size: 50px;
}

.HomePage p {
  color: #f1f1f1;
  font-family: "Teko", sans-serif;
}
