.infoPage {
  margin-top: 80px;
  font-family: "Teko", sans-serif;
  font-weight: 300;
  color: #f1f1f1;
}
section {
  width: 600px;
}
img {
  width: 450px;
  height: 500px;
}

.nameOfGame {
  font-size: 25px;
  margin-bottom: 0px;
}

.gameInfo {
  font-size: 20px;
  margin-left: 20px;
}
.ratingDiv {
  display: flex;
  flex-direction: row;
}
.ratingTag {
  font-weight: bold;
}
.releaseDateDiv {
  display: flex;
  flex-direction: row;
}
.releaseTag {
  font-weight: bold;
}
.ratedTag {
  font-weight: bold;
}
.ratedTagDiv {
  display: flex;
  flex-direction: row;
}
.poster {
  width: 350px;
  height: 300px;
  padding: 10px;
}
.gameDescription {
  width: 350px;
  margin-left: 10px;
}
