.infoPage {
  margin: 80px 5px 0px 10px;
  font-family: "Teko", sans-serif;
  font-weight: 300;
  color: #f1f1f1;
  margin: 80px auto;
  justify-content: center;
  width: 400px;
  padding: 50px;
}

.infoPage p {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  margin-left: 5px;
}

img {
  width: 450px;
  height: 500px;
}

.nameOfGame {
  font-size: 25px;
  margin-bottom: 0px;
  margin-left: 10px;
}

.gameInfo {
  font-size: 20px;
  margin-left: 20px;
}
.ratingDiv {
  display: flex;
  flex-direction: row;
}
.ratingTag {
  font-weight: bold;
  font-family: "Teko", sans-serif;
}
.releaseDateDiv {
  display: flex;
  flex-direction: row;
}
.releaseTag {
  font-weight: bold;
  font-family: "Teko", sans-serif;
}
.ratedTag {
  font-weight: bold;
  font-family: "Teko", sans-serif;
}
.ratedTagDiv {
  display: flex;
  flex-direction: row;
}
.poster {
  width: 350px;
  height: 300px;
  padding: 10px;
}
.gameDescription {
  width: 350px;
  margin-left: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}
