.SearchPage {
  margin-top: 80px;
  color: white;
  font-family: "Teko", sans-serif;
}
.mainPoster {
  height: 200px;
  width: 350px;
  margin-left: 15px;
}
.gameRating {
  margin-left: 15px;
  margin-top: 0;
}
.SearchPage .subcategories {
  font-family: "Teko", sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 0px;
}
.advancedSearch {
  display: flex;
  flex-direction: column;
  align-items: center;
}
label {
  margin-left: 5px;
}
.dropbtn {
  margin-left: 15px;
  font-size: 20px;
  height: 30px;
  width: 135px;
  font-family: "Teko", sans-serif;
  background: none;
  color: #f1f1f1;
  border: 1px solid #f1f1f1;
  border-radius: 30px;
}
.filterSection {
  color: #ffffff;
  margin-top: 30px;
  width: 100vw;
  margin: auto;
  text-align: center;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
}
