.SearchPage {
  margin: 80px 0px 0px 20px;
  color: white;
  font-family: "Teko", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.mainPoster {
  height: 200px;
  width: 350px;
  margin-left: 5px;
  border-radius: 10px;;
}
.gameRating {
  margin-top: 0;
  text-align: left;
}
.SearchPage .subcategories {
  font-family: "Teko", sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 0px;
}
.advancedSearch {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.advancedSearch p {
  margin-bottom: 3px;
}

label {
  margin-right: 5px;
}
.SearchPage .dropbtn {
  margin: 15px 0px 15px 0px;
  font-size: 20px;
  height: 30px;
  width: 135px;
  font-family: "Teko", sans-serif;
  background: none;
  color: #f1f1f1;
  border: 1.5px solid #ffcbe0;
  box-shadow: 0 0 20px #7b2246;
  border-radius: 30px;
}
.SearchPage .dropbtn:hover {
  box-shadow: 0 0 30px #7b2246, 0 0 30px #7b2246;
}
.filterSection {
  color: #ffffff;
  margin-top: 30px;
  width: 100vw;
  margin: auto;
  text-align: center;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
}

#advDropdown {
  margin: 0 20px;
}

.platformFilters {
  padding: 0px 20px;
}

.genreFilters {
  padding: 0px 50px;
}
