@import url("https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@keyframes flicker {
  0%,
  30%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 7px #fff, 0 0 1px #fff, 0 0 10px #fff, 0 0 20px #7b2246,
      0 0 42px #7b2246, 0 0 48px #7b2246, 0 0 6px #7b2246, 0 0 9px #7b2246;
  }
  6%,
  40%,
  44%,
  55%,
  85% {
    text-shadow: none;
  }
}
body {
  background-color: #041014;
  color: white;
  font-family: "Teko", sans-serif;
}
h1 {
  color: white;
}
